<div class="text-center">
    <h1>Istoricul comenzilor</h1>
    <br />
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-dark text-center">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Nr curent</th>
                    <th scope="col" class="text-center">Id comanda</th>
                    <th scope="col" class="text-center">Total</th>
                    <th scope="col" class="text-center" >Nume client</th>
                    <th scope="col" class="text-center">Telefon Client</th>
                    
                    <th scope="col" class="text-center">Status</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    var counter = 1;
                }

                @foreach (var delivery in ViewBag.Deliveries)
                {
                    
                    <tr>
                        <th scope="row" class="text-center">@(counter++)</th>
                        <td ><a href="/Orders/Show/@delivery.OrderId">@delivery.OrderId</a></td>
                        <td>@delivery.Order.Total lei</td>
                        <td>@delivery.Order.FirstName @delivery.Order.LastName</td>
                        <td>@delivery.Order.PhoneNumber</td>

                        @if (delivery.IsFinished == false)
                        {
                            <td>In desfasurare</td>
                        }
                        else
                        {
                            <td>Finalizata</td>
                        }

                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>
