@model Licenta.Models.ApplicationUser

<br />
<div class="panel-default">
    <div class="panel panel-heading">Nume utilizator: @Model.FirstName @Model.LastName</div>

    <div class="panel panel-body">

        <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@Model.Email</span>
        <br />
        <i class="glyphicon glyphicon-th-list"></i> Rol utilizator: @ViewBag.roleName

        <br /><br />

        @if (@Model.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Telefon utilizator:<span class="label label-default">@Model.PhoneNumber</span>
        }

    </div>


    <div class="panel panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <br />
            <button class="btn btn-danger" type="submit">Sterge utilizator</button>
        }
    </div>
</div>




