<div class="container-fluid">
 
    <div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80); background-size: cover;">
        <div class="row" style="margin:5px 0 5px 0;">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="search-container">
                    <form class="card card-sm" method="GET">
                        <input class="search-box" type="text" name="search" value="@ViewBag.SearchString" placeholder="Cauta un produs">
                        <button class="search-button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="row">
        @foreach (Licenta.Models.Product product in ViewBag.Products)
        {
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/Products/Show/@product.ProductId">
                        <img class="img-responsive" src="@product.Photo" alt="poza produsului" style="height:200px; margin:auto;" />
                    </a>
                    <a href="/Products/Show/@product.ProductId" style="text-decoration: none">
                        <h3 class="text-center text-primary">@product.ProductName</h3>
                    </a>
                </div>
                <div class="panel-footer" style="display:block">
                    <h4 class="pull-left">
                        @product.Price lei
                    </h4>
                    <div class="pull-right">
                        <form method="post" action="/OrderDetails/New">
                            <input type="hidden" name="ProductId" value="@product.ProductId" />
                            <input type="hidden" name="Quantity" value="1" />
                            <input type="hidden" name="UnitPrice" value="@product.Price" />
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-shopping-bag">&ensp;Adauga in cos</i>
                            </button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        }
    </div>
</div>

