@model Licenta.Models.EditInfoViewModel
@{
    ViewBag.Title = "Actualizare informatii ";
}

<div class="row">
    
    <div class="col-md-offset-3 col-md-6">
        <br />

        @using (Html.BeginForm("EditInfo", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <div class="form-inline">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <h2>@ViewBag.Title</h2>
                        <br />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" class="btn btn-info" value="Actualizeaza" />
                </div>
            </div>
        }
    </div>
</div>
